# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.venv/
var/
sdist/
var/
wheels/
*.egg-info/
.eggs/

# Database
backend/db.sqlite3
db.sqlite3

# Operating System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
